<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpringCrudDemo</title>
</head>
<body>
    <div th:replace="fragments/header"></div>
    <h1>Update</h1>
    <div>
        <form action="/users/update" method="post" th:value="${user}">
            <input type="hidden" name="id" th:value="*{user.getId()}" />
            <input type="text" name="username" th:value="*{user.getUsername()}" />
            <input type="text" name="password" th:value="*{user.getPassword()}" />
            <input type="submit" value="Update"/>
        </form>
    </div>
</body>
</html>